.login .el-form-item__label{
    color: #fff !important;
}
.login .el-input__inner{
    width: 250px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
}
.login .el-form-item__content button{
    width: 250px;
    position: relative;
    left:-20px;
    background: linear-gradient(90deg,#1596fb,#002dff);
}
.index .el-container{
    height: 100%;
}
.el-radio-button__inner{
    background: linear-gradient(135deg, #4c67ff, #5635df) !important;
}